<h2 class="head_page_title">Viewing Head </h2>
    <br>

    <h3><%= @head.brand %> <%= @head.name %></h3>
    <img src='<%= @head.img %>' height="200" width="200">
    <p>$<%= @head.price %></p>
    <p><%= @head[:description] %></p>

    <div class="edit_delete">
        <form method="get" action="/heads/<%= @head.id %>/edit">
            <input type="submit" value="Edit Head">
        </form>   
        <form method="post" action="/heads/<%= @head.id %>/delete">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete Head">
        </form>
    </div>

